.git
.env
.env.*
.venv*
venv
__pycache__
*.pyc
data/
**/data/
*.db
**/*.db
*.db-*
**/*.db-*
*.sqlite*
**/*.sqlite*
*.fdb
**/*.fdb
*.FDB
**/*.FDB
*-wal
**/*-wal
*-shm
**/*-shm
logs
**/logs/
*.log
**/*.log
tests
htmlcov
.coverage
.pytest_cache
.mypy_cache
.ruff_cache
.nicegui
.vscode
report.md
